<section class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card shadow-lg border-0">
          <div class="card-body p-5">
            <h2 class="card-title display-6 fw-bold text-center mb-4">
              Interval ADP: A Method for Estimating Recent Populations at ICE
              Detention Facilities
            </h2>
            <p class="card-text lead">
              <strong>Executive Summary:</strong> In this paper, Relevant
              Executive Summary: Immigration and Customs Enforcement (ICE)
              regularly releases data on the total number of immigrants
              currently in detention nationwide and the average daily population
              (ADP) of individual detention facilities over the fiscal year to
              date (FYTD). ICE does not provide up to-date data on the total
              currently detained population at individual detention facilities —
              an important yet missing data point. In this paper, Relevant
              Research outlines a method for estimating recent daily average
              populations at individual detention facilities. We refer to ICE’s
              facility-level ADP estimates as “Reported ADP” and we refer our
              facility-level ADP estimates as “Interval ADP”, since our
              estimates provide the ADP for the time period between ICE’s
              previous detention spreadsheet and the current detention
              spreadsheet. As we show in this paper, sudden spikes or dips in
              ICE’s detained population at specific facilities may result in
              significant differences between Reported ADP and Interval ADP.
              Thus, calculating interval ADP provides facility-level estimates
              that are closer to current reality than ICE’s Reported ADP.
            </p>
            <div class="d-flex justify-content-center gap-5 flex-wrap mt-4">
              <a
                href="../assets/pdf/methodology_writeup.pdf"
                class="btn btn-primary btn-lg"
                download
              >
                Download Paper
              </a>
              <!-- <a
                href="https://github.com/your-repo-link"
                class="btn btn-outline-secondary btn-lg"
                target="_blank"
              >
                View on GitHub
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
