:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

/* Dark mode styles */
[data-theme='dark'] {
    --background-color: #333333;
    --text-color: #ffffff;
}

/* General styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, sans-serif;
}

/* Navigation and header styles */
header {
    padding: 10px;
    background-color: var(--background-color);
}


[data-theme='dark'] section#contact {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

[data-theme='dark'] .bg-light {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}
[data-theme='dark'] .text-muted {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.navbar {
    background-color: var(--background-color);
}

.theme-toggle {
    cursor: pointer;
    font-size: 25px;
    transition: color 0.3s;
}

.theme-toggle:hover {
    color: #2196F3;
}

/* Hide icons initially */
.icon-moon, .icon-sun {
    display: none;
}
@media (max-width: 991.98px) {
  .theme-toggle {
    position: absolute;
    right: 8px; 
    top: 10px; 
  }
}

/* Other theme toggle and dark mode styles remain the same */
.icon-moon, .icon-sun {
  display: none;
}

/* Display moon icon in light mode and sun icon in dark mode */
[data-theme='dark'] .icon-moon {
    display: none;
}
[data-theme='dark'] .icon-sun {
    display: inline;
}
[data-theme='light'] .icon-sun {
    display: none;
}
[data-theme='light'] .icon-moon {
    display: inline;
}
