.image {
    padding: 0px 0 20px;
    display: flex;
    justify-content: center;
}

.image img {
    width: 57rem;
    height: 36rem;
    border-radius: 15px;

}

.button-page {
    text-align: center;
    margin-top: 20px;
    /* Adjust spacing as needed */
}

.button-page .btn {
    display: inline-block;
}

.custom-margin {
    margin: 0px;
}

.container h2 {
    padding-top: 18px;
}
.text-mutedd {
    color: #6c757d !important;
  }

@media (max-width: 1024px) {
    .learn-more {
        margin-bottom: 22px;
    }

    .image img {
        width: 100%;
        height: 100%
    }

    .custom-margin {
        margin: 5px;
    }

    .btn-primary {
        margin: 5px !important;
    }
    a#page-button {
        top: 56px !important;
    }
    

}

